.header{
    display: block;
    margin-top: 10%;
}
#header {
    background-color: transparent;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
}

img {
    width: 7%;
}

.navbar-items {
    display: flex;
    justify-content: center;
    margin: 1rem 20rem;
}

#navbar {
    display: flex;
    justify-content: center;
}


ul {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

li {
    margin: 1rem 1rem 1rem;
    text-decoration: none;
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}