<div class="navbar">
    <div class="header">
        <!-- <img src="../../../assets/images/logo Justin.png" alt="logoDeveloper"> -->
        <div class="navbar-items">
            <ul id="navbar">
                <li><a href="#home">Inicio</a></li>
                <li><a href="#experience">Experiencia</a></li>
                <li><a href="#skills">SKills</a></li>
                <li><a href="#projects">Projectos</a></li>
                <li><a href="#studys">Estudios</a></li>
            </ul>
        </div>
    </div>
</div>