<main class="main">
    <div class="content">
        <div class="presentation" style="text-align: center;">
            <h1 style="font-size:7rem; width: 100%;">{{"justin Rondon" | uppercase}}</h1>
            <h2 style="width: 50%; margin: 1.5rem auto;">SOFTWARE ENGINEER, FRONT END & APP DEVELOPER.</h2>
            <div class="container">
                <a href="#" class="button type--A">
                    <div class="button__line"></div>
                    <div class="button__line"></div>
                    <span class="button__text">Trabajemos Juntos</span>
                    <div class="button__drow1"></div>
                    <div class="button__drow2"></div>
                </a>
            </div>
        </div>
    </div>
    
</main>